<div class="sidebar-user-info-inner">

  <a href="extra-profile.html" class="user-profile">
    <img src="assets/images/user-4.png" width="60" height="60" class="img-circle img-corona" alt="user-pic" />

    <span>
      <strong><%- obj.app.account().username %></strong>
      <%- obj.app.account().quote || 'A magnificient player' %>
    </span>
  </a>

  <ul class="user-links list-unstyled">
    <li>
      <a href="extra-profile.html" title="Edit profile" data-module="Profile" data-action="index">
        <i class="linecons-user"></i>
        Edit profile
      </a>
    </li>
    <li>
      <a href="mailbox-main.html" title="Mailbox">
        <i class="linecons-mail"></i>
        Mailbox
      </a>
    </li>
    <li class="logout-link">
      <a href="extra-login.html" title="Log out">
        <i class="fa-power-off"></i>
      </a>
    </li>
  </ul>
</div>
