
<style type="text/css">

.profile-env .user-meta {
  position: relative;
}

</style>

<section class="profile-env">
  <div class="row">

    <div class="col-sm-3" class="user-meta">

      <!-- User Info Sidebar -->
      <div class="user-info-sidebar">
        <a href="" class="user-img">
          <img src="assets/images/user-4.png" alt="user-img" class="img-cirlce img-responsive imgthumbnail" />
        </a>

        <a href="" class="user-name">
          <% obj.username; %>
          <span class="user-status is-online">
            <% obj.app.playerCard(obj.ownerHash).done(function(){
                debugger;
            }); %>
          </span>
        </a>

        <span class="user-title">
          CEO at <strong>Google</strong>
        </span>

        <hr />

        <ul class="list-unstyled user-info-list">
          <li>
            <i class="fa-home"></i> Prishtina, Kosovo
          </li>
          <li>
            <i class="fa-briefcase"></i> <a href="">Laborator</a>
          </li>
          <li>
            <i class="fa-graduation-cap"></i> University of Bologna
          </li>
        </ul>

        <hr />

        <ul class="list-unstyled user-friends-count">
          <li>
            <span>643</span> followers
          </li>
          <li>
            <span>108</span> following
          </li>
        </ul>

        <button type="button" class="btn btn-success btn-block text-left">
          Following <i class="fa-check pull-right"></i>
        </button>
      </div>

    </div>

    <div class="col-sm-9">

      <!-- User timeline stories -->
      <section class="user-timeline-stories">

        <!-- Timeline Story Type: Status -->
        <article class="timeline-story">

          <i class="fa-paper-plane-empty block-icon"></i>

          <!-- User info -->
          <header>
            <a href="" class="user-img">
              <img src="assets/images/user-4.png" alt="user-img" class="img-responsive img-circle" />
            </a>

            <div class="user-details">
              <a href="">Art Ramadani</a> posted a status <a href="">update</a>.
               <time>12 hours ago</time>
            </div>
          </header>

          <div class="story-content">
            <!-- Story Content Wrapped inside Paragraph -->
            <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>

            <!-- Story Options Links -->
            <div class="story-options-links">
              <a href="">
                <i class="linecons-heart"></i> Like <span>(3)</span>
              </a>

              <a href="">
                  <i class="linecons-comment"></i> Comments <span>(5)</span>
              </a>
            </div>

            <!-- Story Comments -->
            <ul class="list-unstyled story-comments">
              <li>
                <div class="story-comment">
                  <a href="" class="comment-user-img">
                    <img src="assets/images/user-2.png" alt="user-img" class="img-circle img-responsive" />
                  </a>

                  <div class="story-comment-content">
                    <a href="" class="story-comment-user-name">
                      Arlind Nushi
                      <time>01 December 2014 - 17:54</time>
                    </a>

                    <p>Him these are visit front end for seven walls. Money eat scale now ask law learn.</p>
                  </div>
                </div>
              </li>
            </ul>

            <form method="post" action="" class="story-comment-form">
              <textarea class="form-control input-unstyled autogrow" placeholder="Reply..."></textarea>
            </form>
          </div>

        </article>

      </section>

    </div>

  </div>
</section>
